<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>
</head>
<body>
    <form method="POST" , name="entry">
    <h1 style="background-color: gainsboro;">The Python <span style="color:red">M</span>
                    <span style="color:orange">O</span>
                    <span style="color:yellow">O</span>
                    <span style="color:yellowgreen">D</span> &nbsp;&nbsp;
                    <span style="color:green">R</span>
                    <span style="color:blue">I</span>
                    <span style="color:blueviolet">N</span>
                    <span style="color:purple">G</span></h1>
    <h3>See if we can figure out your mood and give you some tips to make your day better.</h3>
    <div>
        <p>Talk About Your Day:</p> <textarea name="entry" rows="5" cols="60">
        </textarea></p><br></div>
    <br><input type="submit" value="What's My Mood?" name="Submit">
    </form>
</body>
</html>