<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>
</head>
<body>
    <h1 style="background-color: gainsboro;">The Python <span style="color:red">M</span>
        <span style="color:orange">O</span>
        <span style="color:yellow">O</span>
        <span style="color:yellowgreen">D</span> &nbsp;&nbsp;
        <span style="color:green">R</span>
        <span style="color:blue">I</span>
        <span style="color:blueviolet">N</span>
        <span style="color:purple">G</span></h1>
    <p>{{ yourmood }}</p> 
</body>
</html>